.navbar {
    background-color: #a81e1c; 
    color: #f8e5df;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 15px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .menu-btn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .nav-icons {
    display: flex;
    gap: 15px;
    min-width: 150px;
    margin-right: 5vw;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .nav-icons svg {
    cursor: pointer;
  }
  
  .username {
    font-size: 16px;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  